<div class="flex flex-col pr-4">
  <div class="flex flex-row items-baseline justify-between gap-7">
    <p class="font-bold">Tus componentes</p>

    <button
      class="font-bold py-1 px-2 rounded bg-green-500 hover:bg-green-900 transition-colors duration-300 ease-in-out"
      (click)="mostrarForm()"
    >
      Crear
    </button>
  </div>

  <input
    type="text"
    class="w-full h-auto p-2 mt-4 rounded border border-green-300 hover:bg-gray-700 focus:bg-gray-500 transition-colors duration-300 ease-in-out"
    placeholder="Buscar componente"
  />
</div>
