<div
  class="flex flex-col gap-y-3 bg-stone-600 rounded-xl p-4 w-1/2 m-auto h-screen"
>
  <div
    class="flex flex-col justify-center h-1/3 w-full text-center border border-stone-800 hover:bg-stone-400 rounded-lg text-7xl"
  >
    <p class="">{{ componente.nombre }}</p>
  </div>
  <div
    class="flex flex-col justify-center h-1/3 w-full text-center border border-stone-800 hover:bg-stone-400 rounded-lg text-7xl"
  >
    <p>{{ componente.edad }}</p>
  </div>
  <div
    class="flex flex-col justify-center h-1/3 w-full text-center border border-stone-800 hover:bg-stone-400 rounded-lg text-3xl"
  >
    <p>{{ componente.email }}</p>
  </div>
</div>
